/*list*/
.title {
  color: red;
  font-size: 80;
}

.text {
  color: blue;
  font-size: 40;
}

.loading {
  color: green;
  font-size: 60;
}

.item {
  color: yellow;
  font-size: 40;
}


/*app*/

.app {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.appHeader {
  background-color: #222;
  height: 160;
  padding: 40;
}

.appBanner, .appIntro {
  text-align: center;
}

.appBanner {
  font-size: 80;
  color: white;
}

.appIntro {
  margin-top: 40;
  font-size: 40;
  line-height: 60;
}
